@model Soinsoft.Inventory.Presentation.WebApp.WebApiClient.Payment;
@{
    ViewData["Title"] = "Pending Payments";
}

<h1>@ViewData["Title"]</h1>

<div>
    <P>Right now you dont have any pending payments</P>
    <a asp-area="" asp-page="Index" >Return to Customers List</a>
</div>

